<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); -%>
  </head>
  <body>
    <%- include('./partials/scripts'); -%> <%- include('./partials/navbar'); -%>
    <% if (locals.UsersData) { %>
    <div class="container mt-5">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2>Your <b>Blogs</b></h2>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Email</th>
              <th>Role</th>
              <th>Profile Photo</th>
            </tr>
          </thead>
          <tbody>
            <% UsersData.forEach(user => { %>
            <tr>
              <td><%= user.firstName %></td>
              <td><%= user.lastName %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td>
                <img src="/public/<%= user.profilePhotoURL %>" width="100px" />
              </td>
            </tr>
            <% }) %> <% } else { %>
            <div class="container mt-4">
              <div class="alert alert-danger" role="alert">
                No Record Found !!
              </div>
            </div>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
